resource "azurerm_virtual_machine_extension" "{{.item}}" {
  name                     = {{ .resource.name }}
  publisher            = ""
  type                 = ""
  type_handler_version = ""
  virtual_machine_id   = ""
}
