resource "azurerm_private_dns_zone" "{{.item}}" {
  name                     = {{.resource.name|Quote }}
{{- if .resource.resourceGroupName }}
  resource_group_name      = {{ .resource.resourceGroupName|Quote }}
{{- else }}
  resource_group_name      = data.azurerm_resource_group.sato.name
{{- end}}


{{- if .resource.tags}}
  tags = {{Tags .resource.tags}}
{{- end}}
{{- if .resource.dependsOn }}
  depends_on = [{{- range $x, $j:= .resource.dependsOn }} {{$j}}, {{- end}}]
{{- end}}
}
