resource "aws_eip" "{{.item}}" {
  {{- if .resource.InstanceId}}
  instance =  "{{.resource.InstanceId}}"
  {{- end}}
  {{- if eq (Deref .resource.Domain) "vpc"}}
  vpc      =  true
  {{- end}}

  {{- if .resource.Tags}}
  tags       = {
      {{Tags .resource.Tags}}
    }
    {{- end}}
}


