resource "aws_vpc_dhcp_options" "{{.item}}" {
  domain_name_servers = [{{range $i, $v := .resource.DomainNameServers}}{{if $i}}, {{end}}"{{.}}"{{end}}]
  {{- if .resource.Tags}}
  tags       = {
       {{Tags .resource.Tags}}
    }
    {{- end}}
}