resource "aws_vpn_gateway_attachment" "{{.item}}" {
  vpc_id         = "{{.resource.VpcId}}"
{{- if .resource.VpnGatewayId}}
  vpn_gateway_id = "{{.resource.VpnGatewayId}}"
{{- else}}
  vpn_gateway_id = ""
{{- end}}
}
