resource "aws_flow_log" "{{.item}}" {
  iam_role_arn        = ""
  {{- if .resource.LogDestination}}
  log_destination     = "{{.resource.LogDestination}}"
  {{- end}}
  log_destination_type= "{{.resource.LogDestinationType}}"
  traffic_type        = "{{.resource.TrafficType}}"
  log_format          = "{{.resource.LogFormat}}"
  max_aggregation_interval= "{{.resource.MaxAggregationInterval}}"
  vpc_id              = ""
}