resource "aws_nat_gateway" "{{.item}}" {
  allocation_id = "{{.resource.AllocationId}}"
  subnet_id     = "{{.resource.SubnetId}}"
  connectivity_type = "{{.resource.ConnectivityType}}"
  {{- if .resource.Tags}}
  tags       = {
      "{{range .resource.Tags}}{{.}}{{end}}"
    }
    {{- end}}
}