resource "aws_eip" "{{.item}}" {
  instance =  "{{.resource.InstanceId}}"
  vpc      =  "{{.resource.Domain}}"
  {{- if .resource.Tags}}
  tags       = {
      "{{range .resource.Tags}}{{.}}{{end}}"
    }
    {{- end}}
}