resource "aws_iam_role" "{{.item}}" {
  description="{{.resource.Description}}"
  force_detach_policies=""
  inline_policy=""
  managed_policy_arns=[{{range $i, $v := .resource.ManagedPolicyArns}}{{if $i}}, {{end}}"{{.}}"{{end}}]
  path="{{.resource.Path}}"
  assume_role_policy = "{{.resource.AssumeRolePolicyDocument}}"
  {{- if .resource.Tags}}
  tags       = {
      "{{range .resource.Tags}}{{.}}{{end}}"
    }
    {{- end}}
}