resource "aws_dms_replication_subnet_group" "{{.item}}" {
  replication_subnet_group_description = "{{Nil .resource.ReplicationSubnetGroupDescription}}"
{{- if   .resource.ReplicationSubnetGroupIdentifier}}
  replication_subnet_group_id          = "{{Nil .resource.ReplicationSubnetGroupIdentifier}}"
{{- else}}
  replication_subnet_group_id          = "{{RandomString 6}}"
{{- end}}
  subnet_ids = {{Array .resource.SubnetIds}}
{{- if .resource.Tags}}
  tags = {
  {{Tags .resource.Tags}}
  }
{{- end}}
}
