resource "aws_dms_replication_subnet_group" "{{.item}}" {
  replication_subnet_group_description = "Test replication subnet group"
  replication_subnet_group_id          = "test-dms-replication-subnet-group-tf"

  subnet_ids = [
    "subnet-12345678",
  ]

  tags = {
    Name = "test"
  }
}
