resource "aws_appautoscaling_target" "{{.item}}" {
  max_capacity       = {{.resource.MaxCapacity}}
  min_capacity       = {{.resource.MinCapacity}}
  resource_id        = {{Nil .resource.ResourceId|Quote}}
  role_arn           = {{Nil .resource.RoleARN|Quote}}
  scalable_dimension = {{Nil .resource.ScalableDimension|Quote}}
  service_namespace  = {{Nil .resource.ServiceNamespace|Quote}}
}
