
variable "{{.item}}" {
{{- if  eq .variable.type "securestring"}}
  type        = string
  sensitive   = true
{{- else }}
  type        = {{.variable.type}}
{{- end }}
{{- if   .variable.default}}
  default     = {{ Replace .variable.default "${" "$${"|Quote }}
{{- end }}
{{- if .variable.metadata.description }}
  description = "{{ .variable.metadata.description }}"
{{- end }}
}
