{{- $p := .item}}
{{- $q := .resource}}
{{- $parts := Demap .resource.SecretString }}
{{- range $i, $a := $parts}}
{{- $shortname :=(index $parts $i) }}
resource "aws_secretsmanager_secret" "{{$shortname}}" {
  description="{{$q.Description}}"
  name="{{$q.Name}}/{{$shortname}}"
{{- if $q.KmsKeyId}}"
  kms_key_id="{{$q.KmsKeyId}}"
{{- end}}
}

{{- end}}
