resource "aws_servicecatalog_product_portfolio_association" "{{.item}}" {
  portfolio_id       = {{Nil .resource.PortfolioId |Quote}}
  product_id         = {{Nil .resource.ProductId |Quote}}
  accept_language    = {{Nil .resource.AcceptLanguage |Quote}}
  source_portfolio_id= {{Nil .resource.SourcePortfolioId |Quote}}
}
