resource "aws_db_parameter_group" "{{.item}}" {
  name   = {{Replace (ToLower .item) "ParameterGroup" ""|Quote}}
  family =  {{.resource.Family|Quote}}

{{- if .resource.Parameters}}
{{- range $a, $i:=  .resource.Parameters}}
  parameter {
    name  = {{$a|Quote}}
    value = {{$i|Quote}}
  }
{{- end}}{{- end}}
{{- if .resource.Tags}}
  tags = {
     {{Tags .resource.Tags}}
  }
{{- end}}
}
